<!DOCTYPE html>

<html lang = "en">
  <head>
    <title>NFL Home Page</title>
    <link href="systems_check2.css" media="screen" rel="stylesheet"/>
  </head>
  <body>

    <div id="navbar">
      <ul>
        <li><a href="leaderboard">Leaderboard</a></li>
        <% @team_names.each do |team_name| %>
          <li><a href="/team/<%= team_name %>"><%= team_name %></a></li>
        <% end %>
      </ul>
    </div>



  </body>
</html>
